In [194]:
import pandas as pd 
import numpy as np

file_to_load = 'Resources/purchase_data_pymoli.csv'
p_df = pd.read_csv(file_to_load)

clean_p_df = p_df.dropna(how='any')

In [195]:
t_players_df = len(p_df)
frame_df = pd.DataFrame([t_players_df],columns=['Total Players'])
frame_df

   Total Players
0            780

In [196]:
players = p_df[['SN','Gender']]
players2 = players.drop_duplicates()
total_players = players2['Gender'].count()
total_players

576

In [197]:
avg_price = p_df['Price'].mean()
num_purchase = t_players_df
total_rev = p_df['Price'].sum()
u_count = len(p_df['Item Name'].unique())

sum_df = pd.DataFrame({'Number of Unique Items':u_count,
                       'Average Price': round(avg_price,2),
                       'Number of Purchases':  num_purchase,
                       'Total Revenue': total_rev},index=[0])
sum_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [198]:
gender_data = p_df[['SN','Gender']]
gender_data = gender_data.drop_duplicates()
gender_counts = gender_data['Gender'].value_counts()

gender_counts_by_value=[gender_counts[0],gender_counts[1],gender_counts[2]]
gender_percent=[round(gender_counts[0]/total_players *100,2),
                round(gender_counts[1]/total_players *100,2),
                round(gender_counts[2]/total_players *100,2)]
gender_demographics = pd.DataFrame({'Total Counts':gender_counts_by_value,
                                    'Percentage of Players':gender_percent})

gender_demographics.index=(['Male','Female','Other/Non-Disclosed'])
gender_demographics.style.format({'Percentage of Players':'{:.2f}%'})

In [199]:
purchase_count = p_df['Gender'].value_counts()
purchase_count_by_value= [purchase_count[0],purchase_count[1],purchase_count[2]]

purchase_count_by_value

[652, 113, 15]

In [200]:

female_p=p_df.loc[(p_df['Gender']=='Female')]
male_p = p_df.loc[(p_df['Gender']=='Male')]
other_p = p_df.loc[(p_df['Gender']=='Other / Non-Disclosed')]
male_avg_purchase = round(male_p['Price'].mean(),2)
female_avg_purchase = round(female_p['Price'].mean(),2)
other_avg_purchase = round(other_p['Price'].mean(),2)
avg_purchase = [male_avg_purchase,female_avg_purchase,other_avg_purchase]
avg_purchase

[3.02, 3.2, 3.35]

In [201]:
female_total = p_df.loc[(p_df['Gender']=='Female')]
male_total = p_df.loc[(p_df['Gender']=='Male')]
other_total = p_df.loc[(p_df['Gender']=='Other / Non-Disclosed')]
female_total_price = round(female_total['Price'].sum(),2)
male_total_price = male_total['Price'].sum()
other_total_price = other_total['Price'].sum()
total_purchase =[female_total_price,male_total_price,other_total_price]
total_purchase

[361.94, 1967.64, 50.19]

In [202]:
total = p_df['Price'].sum()


male_avg_purchase = round(male_total_price/gender_counts[0],2)
female_avg_purchase = round(female_total_price/gender_counts[1],2)
other_avg_purchase = round(other_total_price/gender_counts[2],2)
avg_total_pur_per=[male_avg_purchase,female_avg_purchase,other_avg_purchase]
avg_total_pur_per

[4.07, 4.47, 4.56]

In [203]:
purchasing_analysis= pd.DataFrame({'Purchase Count':purchase_count_by_value,
                                   'Average Purchase Price':avg_purchase,
                                   'Total Purchase Value':total_purchase,
                                  'Avg Total Purchase per Person':avg_total_pur_per})

In [204]:
purchasing_analysis.index=(['Male','Female','Other / Non_disclosed'])
purchasing_analysis.style.format({'Average Purchase Price':'${:.2f}',
                                  'Total Purchase Value':'${:.2f}',
                                 'Avg Total Purchase per Person':'${:.2f}'})

In [205]:
#Cant have over lap in bins
bins =[0,10,15,20,25,30,35,39,40]

In [206]:
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
one = p_df[['Age','Gender']]
two = one.drop_duplicates()
three = two['Gender'].count()

In [207]:
pd.cut(p_df['Age'],bins, labels=group_names).head()

0    15-19
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [208]:
time = p_df['Age'].value_counts()
p_df['Age Group']=pd.cut(p_df['Age'],bins,labels=group_names)
time.head()

20    99
22    70
24    67
23    67
21    62
Name: Age, dtype: int64

In [209]:

age_group = p_df.groupby(['Age Group'])
old_age = age_group['Age'].count()
quant_age =[old_age[0],old_age[1],old_age[2], old_age[3], old_age[4],old_age[5],old_age[6],old_age[7]]
quant_age

[32, 54, 200, 325, 77, 52, 27, 6]

In [210]:
percent_of_players = [round(old_age[0]/total_players * 100,2),
                      round(old_age[1]/total_players * 100,2),
                      round(old_age[2]/total_players* 100,2),
                      round(old_age[3]/total_players* 100,2),
                      round(old_age[4]/total_players* 100,2),
                      round(old_age[5]/total_players* 100,2),
                      round(old_age[6]/total_players * 100,2),
                      round(old_age[7]/total_players * 100,2)]
percent_of_players

[5.56, 9.38, 34.72, 56.42, 13.37, 9.03, 4.69, 1.04]

In [211]:
 age_demo = pd.DataFrame({'Total Count':quant_age,'Percentage of Players':percent_of_players})
age_demo.index=(['<10','10-14','15-19','20-24','24-29','30-34','35-39','40+'])
age_demo.style.format({'Percentage of Players':'{:.2f}%'})
age_demo['Percentage of Players'].sum()

134.21

In [212]:
bins =[0,9,14,19,24,29,34,39,100]

In [213]:
age_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [214]:
pd.cut(p_df['Age'],bins,labels=age_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [215]:
p_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,15-19
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,30-34

In [216]:
p_df['Age Group'] = pd.cut(p_df['Age'], bins, labels=age_labels)
age_groupby = p_df.groupby('Age Group')

age_pur_count = age_groupby['Price'].count()
age_purchase = age_groupby['Price'].mean()
total_price_age = age_groupby['Price'].sum()
average_per_person = total_price_age/age_pur_count
age_purchase
average_per_person
total_price_age/age_count_cat

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [217]:
age_count_cat = [age_pur_count[0],
                 age_pur_count[1],
                 age_pur_count[2],
                 age_pur_count[3],
                 age_pur_count[4],
                 age_pur_count[5],
                 age_pur_count[6],
                 age_pur_count[7]]

In [218]:
age_count_cat

[23, 28, 136, 365, 101, 73, 41, 13]

In [219]:
avg_pur_price = [
round(age_purchase[0],2),
round(age_purchase[1],2),
round(age_purchase[2],2),
round(age_purchase[3],2),
round(age_purchase[4],2),
round(age_purchase[5],2),
round(age_purchase[6],2),
round(age_purchase[7],2)]

In [220]:
avg_pur_price

[3.35, 2.96, 3.04, 3.05, 2.9, 2.93, 3.6, 2.94]

In [221]:
total_purchase_value =[
    round(total_price_age[0],2),
    round(total_price_age[1],2),
    round(total_price_age[2],2),
    round(total_price_age[3],2),
    round(total_price_age[4],2),
    round(total_price_age[5],2),
    round(total_price_age[6],2),
    round(total_price_age[7],2)
]

In [222]:
total_purchase_value

[77.13, 82.78, 412.89, 1114.06, 293.0, 214.0, 147.67, 38.24]

In [223]:
total_price_age/age_pur_count

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [224]:
age_purchase

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [225]:
purchase_analysis = pd.DataFrame({'Purchase Count':age_count_cat,
                                  'Average Purchase Price': avg_pur_price,
                                  'Total Purchase Value':total_purchase_value,
                                  'Avg Total Purchase per Person':avg_pur_price
                                 })
purchase_analysis.index=(['<10','10-14','15-19','20-24','24-29','30-34','35-39','40+'])
purchase_analysis.style.format({'Average Purchase Price':'${:.2f}',
                                'Total Purchase Value':'${:.2f}',
                                'Avg Total Purchase per Person':'${:.2f}'})

In [226]:
j = p_df[['SN','Price']]

In [227]:
gamertag_df = p_df.sort_values('Price')
gamertag = gamertag_df.sort_values(['Price','SN'], ascending=False)
gaming =gamertag['SN'].value_counts()
new = gamertag["Price"].mean()
head = gaming.head()
gamertag['Price']

189    4.99
554    4.99
231    4.94
110    4.94
246    4.94
116    4.94
493    4.94
312    4.93
275    4.93
477    4.93
290    4.93
686    4.93
593    4.91
284    4.91
577    4.91
517    4.91
388    4.91
18     4.90
202    4.90
522    4.90
240    4.90
88     4.90
247    4.90
504    4.90
666    4.90
274    4.90
158    4.89
695    4.89
676    4.89
598    4.89
       ...
165    1.09
618    1.09
705    1.09
681    1.06
253    1.06
260    1.03
292    1.03
453    1.03
405    1.03
654    1.02
657    1.02
344    1.02
100    1.02
579    1.02
770    1.02
528    1.02
582    1.02
702    1.02
773    1.02
361    1.02
731    1.02
239    1.02
83     1.02
535    1.01
552    1.01
371    1.01
586    1.01
282    1.01
418    1.00
63     1.00
Name: Price, Length: 780, dtype: float64

In [228]:

first =p_df.loc[(p_df['SN']=='Lisosia93')]
second=p_df.loc[(p_df['SN']=='Idastidru52')]
third=p_df.loc[(p_df['SN']=='Iral74')]
fourth=p_df.loc[(p_df['SN']=='Chamjask73')]
fifth=p_df.loc[(p_df['SN']=='Iskadarya95')]
sn_names=[
round(first['Price'].sum(),2),
round(second['Price'].sum(),2),
round(third['Price'].sum(),2),
round(fourth['Price'].sum(),2),
round(fifth['Price'].sum(),2)]

In [229]:
sn_names

[18.96, 15.45, 13.62, 13.83, 13.1]

In [230]:
sn_total = [round(sn_names[0]/head[0],2),
            round(sn_names[1]/head[1],2),
            round(sn_names[2]/head[2],2),
            round(sn_names[3]/head[3],2),
            round(sn_names[4]/head[4],2)
           ]

In [231]:
top_spenders = pd.DataFrame({'Purchase Count':head,
                            'Average Purchase Price':sn_total,
                            'Total Purchase Value':sn_names})

In [232]:
top_spenders

              Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                  5                    3.79                 18.96
Idastidru52                4                    3.86                 15.45
Iral74                     4                    3.40                 13.62
Lisopela58                 3                    4.61                 13.83
Pheodaisun84               3                    4.37                 13.10

In [233]:
pop = p_df[['Item ID','Item Name','Price']]
m_pop = pop.groupby(['Item ID','Item Name']).count()
mm_pop = p_df['Item Name'].value_counts()
#mm_pop.head()

#nir = p_df.loc[(p_df['Item Name']=='Final Critic')]
#nir["Price"]
#nir
mm_pop =m_pop.sort_values(['Price'],ascending=False)

In [234]:
gamertag_df = p_df.sort_values('Price')
gamertag = gamertag_df.sort_values(['Price','SN'], ascending=False)
name_tag=gamertag.groupby('SN')

In [235]:
mm_pop.head()
kick = mm_pop['Price']
kick.iloc[0]
pop.groupby(['Item ID','Item Name']).mean()['Price']

Item ID  Item Name
0        Splinter                                        1.28
1        Crucifer                                        3.26
2        Verdict                                         2.48
3        Phantomlight                                    2.49
4        Bloodlord's Fetish                              1.70
5        Putrid Fan                                      4.08
6        Rusty Skull                                     3.70
7        Thorn, Satchel of Dark Souls                    1.33
8        Purgatory, Gem of Regret                        3.93
9        Thorn, Conqueror of the Corrupted               2.73
10       Sleepwalker                                     1.79
11       Brimstone                                       3.65
12       Dawne                                           1.02
13       Serenity                                        1.41
14       Possessed Core                                  2.61
15       Soul Infused Crystal                            2.96
16       Restored Bauble                                 3.55
17       Lazarus, Terror of the Earth                    1.70
18       Torchlight, Bond of Storms                      4.65
19       Pursuit, Cudgel of Necromancy                   1.02
20       Netherbane                                      3.27
21       Souleater                                       1.10
22       Amnesia                                         2.18
23       Crucifer                                        1.99
24       Warped Fetish                                   3.81
25       Hero Cane                                       4.35
26       Unholy Wand                                     1.12
27       Riddle, Tribute of Ended Dreams                 3.30
28       Flux, Destroyer of Due Diligence                1.06
29       Chaos, Ender of the End                         1.98
                                                         ...
154      Feral Katana                                    4.40
155      War-Forged Gold Deflector                       1.01
156      Soul-Forged Steel Shortsword                    1.77
157      Spada, Etcher of Hatred                         4.80
158      Darkheart, Butcher of the Champion              2.45
159      Oathbreaker, Spellblade of Trials               3.08
160      Azurewrath                                      4.40
161      Devine                                          1.76
162      Abyssal Shard                                   2.67
163      Thunderfury Scimitar                            3.45
164      Exiled Doomblade                                1.63
165      Bone Crushing Silver Skewer                     4.86
166      Thirsty Iron Reaver                             3.07
167      Malice, Legacy of the Queen                     3.61
168      Sun Strike, Jaws of Twisted Visions             1.48
169      Interrogator, Blood Blade of the Queen          2.18
170      Shadowsteel                                     3.97
171      Scalpel                                         1.79
172      Blade of the Grave                              3.14
173      Stormfury Longsword                             4.93
174      Primitive Blade                                 3.47
175      Woeful Adamantite Claymore                      4.48
176      Relentless Iron Skewer                          2.84
177      Winterthorn, Defender of Shifting Worlds        2.08
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
179      Wolf, Promise of the Moonwalker                 4.48
180      Stormcaller                                     3.36
181      Reaper's Toll                                   1.66
182      Toothpick                                       4.03
183      Dragon's Greatsword                             1.09
Name: Price, Length: 183, dtype: float64

In [236]:
#item_price=[4.88,4.23,4.90,4.58,3.19]
purchase_count=[kick.iloc[0],kick.iloc[1],kick.iloc[2],kick.iloc[3],kick.iloc[4]]
pop_purchase=[(kick.iloc[0]*item_price[0]),
             (kick.iloc[1]*item_price[1]),
             (kick.iloc[2]*item_price[2]),
             (kick.iloc[3]*item_price[3]),
             (kick.iloc[4]*item_price[4])]

#most_popular_items = pd.DataFrame({'Purchase Count':purchase_count,'Item Price':item_price,'Total Purchase Value':pop_purchase})
#most_popular_items.index=(['Final Critic','Oathbreaker, Last Hope of the Breaking Storm','Nirvana','Fiery Glass Crusader','Persuasion'])
#most_popular_items.style.format({'Item Price':'${:.2f}',
                                #'Total Purchase Value':'${:.2f}'})
#ost_popular_items
most_popular_item = label.head()
most_popular_item.sort_values('Total Purchase Value', ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [237]:
p_df

#item_price=[4.88,4.23,4.90,4.58,3.19]
purchase_count=[kick.iloc[0],kick.iloc[1],kick.iloc[2],kick.iloc[3],kick.iloc[4]]
pop_purchase=[(kick.iloc[0]*item_price[0]),
             (kick.iloc[1]*item_price[1]),
             (kick.iloc[2]*item_price[2]),
             (kick.iloc[3]*item_price[3]),
             (kick.iloc[4]*item_price[4])]

#most_popular_items = pd.DataFrame({'Purchase Count':purchase_count,'Item Price':item_price,'Total Purchase Value':pop_purchase})
#most_popular_items.index=(['Final Critic','Oathbreaker, Last Hope of the Breaking Storm','Nirvana','Fiery Glass Crusader','Persuasion'])
#most_popular_items.style.format({'Item Price':'${:.2f}',
                                #'Total Purchase Value':'${:.2f}'})
mm_pop =m_pop.sort_values(['Price'],ascending=False)
sum_price = pop.groupby(['Item ID','Item Name']).sum()['Price']
count_item=pop.groupby(['Item ID','Item Name']).count()['Price']
mean = pop.groupby(['Item ID','Item Name']).mean()['Price']
item_df = pd.DataFrame({'Purchase Count':count_item,'Item Price':mean,'Total Purchase Value':sum_price})
label = item_df.sort_values('Purchase Count', ascending=False)
label.sort_values('Total Purchase Value', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80